body{
	background-color: #333;
  background-image: url('../img/backgroundGrey.jpg');
  color: #ddd;
  min-width: 1080px;
}

h2{
  margin: 0;
  padding: 0;
}

h3{
  margin-left: 15px;
}

a{
  color: #DD912B;
  border-bottom: 1px dotted #DD912B;
}

a:hover, a:focus{
  color: #DD912B;
  text-shadow: 1px 1px 1px #333;
  border-bottom: none;
  text-decoration: none;
}

p{
  margin: 7px;
}

.red {
  color: #770000;
}

.bold {
  font-weight: bold;
}

/*Entête*/
/*_________________________________________________________________________________________________________*/
header{
  text-align: center;
  border-bottom: 1px solid black;
  color: #eee;
  background-image: url('../img/backgroundBlack.jpg');
  border-bottom: 2px solid #DD912B;
}


#nameSite{
  float: left;
}

nav{
  display: inline-block;
}
nav > ul > li {
  	display: inline-block;
  	list-style: none;
  	margin-top: 7px;
  	padding-left: 7px;
  	padding-right: 7px;
  	border-left: solid 1px #eee;
}

nav > ul > li:first-child{
	border: none;
}

nav a {
  color: #ffffff;
  text-shadow: 1px 1px 2px #444444, -1px -1px #444444;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.35em;
  line-height: 50px;
  text-decoration: none;
  border-bottom: none;
  transition-property: color,text-shadow;
  transition-duration: 0.3s;
}

nav a:hover, nav a:focus{
  color: #DD912B;
  text-shadow: 1px 1px 1px #111;
}

#blocLog{
  margin-top: 16px;
  margin-right: 10px;
  float:right;
}

#blocLog .input-small{
  background-image: url('../img/backgroundLessDark.jpg');
  border: 1px solid #222;
  box-shadow: 1px 1px #1F1F1F inset;
  color: #ddd;
  text-shadow: 1px 1px 3px #111;
}

#blocLog .input-small:focus{
  box-shadow: 1px 1px 2px #DD912B inset, -1px -1px 2px #DD912B inset;
}

#blocLog .submit{
  width: 90px;
  height: 31px;
  line-height: 17px;
  background-color: #BD710B;
  border: 1px solid #222;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000 inset, -1px -1px #333 inset;
  color: #ddd;
  text-shadow: 1px 1px 2px #000;
  transition-property: background-color,color;
  transition-duration: 0.2s;
}

#blocLog .submit:hover,#blocLog .submit:focus{
  color: #BD710B;
  text-shadow: 1px 1px 2px #BD710B;
  background-color: #111;
}

/*Contenu*/
/*_________________________________________________________________________________________________________*/

#container{
  margin-top: 15px;
  margin-bottom: 15px;
}

.contenu-block{
  margin:auto;
  display: block;
  width: 50%;
  background-image: url('../img/backgroundLessDark.jpg');
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #333 inset, -1px -1px 1px #333 inset;
}

.contenu-blockLarge{
  margin:auto;
  overflow: hidden;
  display: block;
  width: 90%;
  background-image: url('../img/backgroundLessDark.jpg');
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #333 inset, -1px -1px 1px #333 inset;
}

.leftSideDiv{
  margin-left: 15px;
  float: left;
  width: 45%;
}

.rightSideDiv{
  float:right;
  width: 45%;
}

.headerBox{
  min-height: 30px;
  letter-spacing: 2px;
  line-height: 27px;
  font-size: 1.1em;
  background: #333;
  background-image:url(../img/backgroundBlack.jpg);
  border: 1px solid #000;
  border-bottom: 2px solid #DD912B;
  border-radius:5px 5px 0px 0px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #444444, -1px -1px #666666;
  font-family: "Trebuchet MS";
}

.divCenter {
  text-align: center;
}

/*Formulaires*/
/*_________________________________________________________________________________________________________*/

form{
}

fieldset{
  margin: 10px;
  margin-bottom: 15px;
  border-left: 2px solid #DD912B;
  box-shadow: 5px 0px 5px -5px #DD912B inset;
}

legend{
  height: 30px;
  width: 70%;
  padding-left: 15px;
  line-height: 27px;
  font-size: 1.05em;
  letter-spacing: 1px;
  border-bottom: 2px solid #DD912B;
  color: #ffffff;
  box-shadow: 0px 5px 5px -5px #DD912B;
  text-shadow: 2px 2px 5px #333;
  font-family: "Trebuchet MS";
}

label{
  display: inline-block;
}

.labelInput{
  width: 150px;
  margin-left: 30px;
}

input[type=radio]{
  vertical-align: middle;
  margin: 15px 0px 18px 30%;
}

/*Calendrier*/
.calendar
{
    background-color:#f7f6f3;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    border:1px solid #0099cc;
    -moz-opacity:0;
    filter:alpha(opacity=0);
     
}
 
.calendar a
{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
}
 
.ListeDate
{
    background-color:#FFFFFF;
}
 
#Contenant_Calendar
{
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}
 
#Contenant_Calendar span
{
    float:left;
    display:block;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
}
 
.DayDate:hover
{
    background-color:#8CD1EC;
    cursor:pointer;
}
 
#curentDateString
{
    width:100%;
    text-align:center;
}
 
.titleMonth
{
    width:100%;
    background-color:#08a1d4;
    color:#FFFFFF;
    text-align:center;
    border-bottom:1px solid #666;
    margin:0px;
    padding:0px;
    padding-bottom:2px;
    margin-top:0px;
    margin-bottom:0px;
    font-weight:bold;
}
 
.separator
{
    float:left;
    display:block;
    width:25px;
}
 
.currentDay
{
    font-weight:bold;
    background-color:#FFB0B0;
}

form .input-large{
  margin-left: 15px;
  background-image: url('../img/backgroundGrey.jpg');
  border: 1px solid #222;
  box-shadow: 1px 1px #1F1F1F inset;
  color: #ddd;
  text-shadow: 1px 1px 3px #111;
}

form .input-large:focus{
  border: 1px solid #222;
  box-shadow: 1px 1px 2px #DD912B inset, -1px -1px 2px #DD912B inset;
}

select{
  width: 225px;
  background-image: url('../img/backgroundGrey.jpg');
  border: 1px solid #222;
  box-shadow: 1px 1px #1F1F1F inset;
  color: #ddd;
  text-shadow: 1px 1px 3px #111;
}

select:focus{
  border: 1px solid #222;
  text-shadow: none;
  color: black;
}

.submit{
  width: 90px;
  height: 31px;
  line-height: 17px;
  background-color: #BD710B;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #222 inset, -1px -1px #222 inset;
  color: #ddd;
  text-shadow: 0px 0px 2px #000;
  transition-property: background-color,color;
  transition-duration: 0.2s;
}

.submit:hover,.submit:focus{
  color: #BD710B;
  text-shadow: 1px 1px 2px #BD710B;
  background-color: #111;
}

.reset{
  width: 90px;
  height: 31px;
  line-height: 17px;
  background-color: #BD710B;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #333 inset, -1px -1px #333 inset;
  color: #ddd;
  text-shadow: 1px 1px 2px #000;
  transition-property: background-color,color;
  transition-duration: 0.2s;
}

.submit:hover{
  color: #BD710B;
  text-shadow: 1px 1px 2px #BD710B;
  background-color: #111;
}

.searchPattern{
  display: none;
}